{% extends "index.html" %}

{% block content %}
    <div class="container" style="padding-top: 7%">
    <h1 class="mt-4 mb-3">Welcome to classcript</h1>

    <ol class="breadcrumb"></ol>

    <div class="row">

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-microphone" aria-hidden="true"></i></i>&ensp;Transcribe Audio and Video</h4>
          <div class="card-body">
            <p>Simply provide an audio or video (presentation) file of your lecture, and watch classcript transcribe it in seconds!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>&ensp;Save & Edit Notes</h4>
          <div class="card-body">
            <p>Want to refer to your transcripts later? Save transcripts to your profile for easy access! You may also edit these notes!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></i>&ensp;Download as PDF</h4>
          <div class="card-body">
            <p>Want to use transcribed lectures as printable notes? Click the download transcript and watch classcript produce an instant PDF!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-search" aria-hidden="true"></i></i>&ensp;Search</h4>
          <div class="card-body">
            <p>Can't seem to find lectures from weeks or months ago? Search through notes based on their transcripts directly!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-language" aria-hidden="true"></i></i>&ensp;Translate</h4>
          <div class="card-body">
            <p>Translate class transcriptions to the language(s) of your choice!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-envelope-o" aria-hidden="true"></i></i>&ensp;Share Files</h4>
          <div class="card-body">
            <p>Share class transcripts/notes to your classmates via email!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mb-4">
        <div class="card h-70">
          <h4 class="card-header"><i class="fa fa-user" aria-hidden="true"></i>&ensp;Get Started</i></h4>
          <div class="card-body">
            <center>
            <a href="http://127.0.0.1:5000/signup" class="btn" style="background-color: #555555; color: white">New to classcript? Sign up!</a>
            <a href="http://127.0.0.1:5000/login" class="btn" style="background-color: #000000; color: white">classcript regular? Sign in!</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
